@CHARSET "EUC-KR";

body{font:12px/1em "돋움";} 
a{text-decoration:none;color:#000000;}
h3.title{font-size: large;border-left: 10px solid #7BAEB5;
		 border-bottom: 1px solid #7BAEB5;
		 padding: 10px;width: auto;}		 
.tc{text-align:center;}
.tr{text-align:right;}
		 
/* 리스트 */
div.elet{width:800px; margin:8px 0px;}
div#emoticon{width:660px; padding:5px;letter-spacing:0.3em;}
table{border-top:1px solid #7BAEB5; border-bottom:1px solid #7BAEB5;
			border-collapse:collapse; width:800px;
}
th{padding: 7px;}
td{border-top:1px solid #7BAEB5; padding: 7px;}

/* 폼 */
span{color:#cc0033; font-weight:bold;}
caption{font-size: large; font-weight:bold; padding:10px;}
textarea{width:660px; height:80px;}